<launch>
	<arg name="use_sim_time" value="true" />	
	<!-- <rosparam file="$(find movit_robot_arm)/config/gazebo_ros_control.yaml" command="load"/> -->
	
	<!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the controllers -->
	<include file = "$(find robot_arm_description)/launch/arm_urdf.launch" />

	<!-- Launch Moveit Move Group Node -->
	<include file = "$(find movit_robot_arm)/launch/move_group.launch" />

	<!-- Run Rviz and load the default configuration to see the state of the move_group node -->
	<arg name="use_rviz" default="true" />
	<include file="$(find movit_robot_arm)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
		<arg name="rviz_config" value="$(find movit_robot_arm)/launch/moveit.rviz"/>
	</include>
	
	  <node pkg="collision_detector_node" type="collision_detector_node" name="collision_detector_node" output="screen"/>

</launch>
